[Unit]
Description=Tang Server
StopWhenUnneeded=yes

[Container]
Image=tang-server.build
Volume=tang-server.volume:/var/db/tang:Z
PublishPort=127.0.0.1:9090:9090
# TODO: bound image?
# GlobalArgs=--storage-opt=additionalimagestore=/usr/lib/bootc/storage
