[Unit]
Requires=tang-server.service
After=tang-server.service
Requires=tang-server-proxy.socket
After=tang-server-proxy.socket

[Service]
Type=notify
ExecStart=/usr/lib/systemd/systemd-socket-proxyd --exit-idle-time=15s 127.0.0.1:9090
PrivateTmp=yes
